/* reset default styles */
*,
*:before,
*:after {
  box-sizing: inherit;
  position: relative;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

html {
  box-sizing: border-box;
  font: 62.5% 'Source Sans Pro', sans-serif;
}


body {
  margin: 0px;
  line-height: 1.3;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}