/* reset default styles */
*,
*:before,
*:after {
  box-sizing: inherit;
  position: relative;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

html {
  box-sizing: border-box;
  font: 62.5% 'Source Sans Pro', sans-serif;
}


body {
  margin: 0px;
  line-height: 1.3;
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(180deg, #a8d8ff, #ffffff);
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

.dropdown {
  max-width: 400px;
  margin: 0 auto;
}
